html{
	font-size: 12px;
	font-family: 'segoe UI';
}

h1{
	color: black;
	font-size: 72px;

}

.content{
	width: 960px;
	margin: auto;
}

.red-box{
	display: block;
	position: relative;
	background: red;
	height: 100px;
	width: 200px;
	top: 50px;
	right: 50px;
}

.sections{
	display: flex;
}